*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d9d9d9;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: green;
    
}

.icone:hover{
    transition: .3s ease-in;
}

nav li {
    display: inline-block;
    margin-right: 30px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

nav li a:hover {
    color: brown;
    transition: .3s ease-in;

}

.icone{
    display: flex;
    height: 75px;
    width: 100px;
   
   
}

#header{
    
    background-image: linear-gradient(green 5%, rgb(149, 228, 149));
    padding: 20px solid ;
    border: solid rgb(59, 93, 8) ;
    margin: 10px;
   

}

#menu{
    display: flex;
    flex-direction:column;
}

#botao{
    display: flex;
   height: 30px;
   justify-content: end;  
}
footer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        background:green;
    }
    .main-content{
        display: flex;
    }
    .main-content .box{
        flex-basis: 50%;
        padding: 10px 20px;
    }
    .box h2{
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin-top: 50px;
    }
    .box .content{
        margin: 30px 100px 30px 100px;
        position: relative;
    }
    .box .content:after{
        position: absolute;
        content: '';
        width: 15%;
        height: 2px;
        background: #8f8f8f;
        top: -10px;
    }
    .box .content:before{
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        background: #1a1a1a;
        top: -10px;
    }
    .left .content .social{
        margin: 20px 0 0 0;
    }
    .left .content .social a{
        padding: 0 2px;
    }
    .left .content .social a span{
        width: 40px;
        height: 40px;
        background: #1a1a1a;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        font-size: 18px;
        transition: 0.3s;
    }
    .left .content .social a span:hover{
        background: #62f120;
    }
    .left .content p{
        text-align: justify;
    }
    .center .content .fas{
        font-size: 23px;
        background: #1a1a1a;
        width: 45px;
        height: 45px ;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
    }
    .center .content .fas:hover{
        background: greenyellow;
    }
    .center .content .text{
        font-size: 17px;
        font-weight: 500;
        padding-left: 10px;
    }
    .center .content .phone{
        margin: 10px 0;
    }
    .center .content .msg{
        margin-top: 10px;
    }
    .right form input, .right form textarea{
        width: 100%;
        font-size: 17px;
        background: #151515;
        padding-left: 10px;
        border: 1px solid #222222;
    }
    .right form input{
        height: 35px;
    }
    .right form input:focus,
    .right form textarea:focus{
        outline-color: #3498db;
    }
    .right form .text{
        font-size: 17px;
        margin-bottom: 2px;
        color: #656565;
    }
    .right form .btn{
        margin-top: 10px;
    }
    .right form .btn button{
        height: 40px;
        width: 100%;
        background: rgb(121, 121, 121);
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
    }
    .right form .btn button:hover{
        background: #000;
    }
    .bottom .center{
        padding: 5px;
        font-size: 15px;
        background: #151515;
        text-align: center;
    }
    .bottom .center span{
        color: #656565;
    }
    .bottom .center a{
        color: #f12020;
        text-decoration: none;
    }
    .bottom .center a:hover{
        text-decoration: underline;
    }
    @media screen and (max-width: 900px){
        footer{
            position: fixed;
            bottom: 0px;
        }
        .main-content{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .main-content .box{
            margin: 5px 0;
        }
    }
    #apresentacao {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 50px;
      }
      section {
        margin: 10px auto;
        padding: 10px;
        width: 200px;
      }
      .card {
        box-shadow:  10px 5px 5px darkgray;
      }
      h5 {
        padding-bottom: 15px;
        text-align: center;
        font-weight: bold;
      }